/* Globale Styles */
*{
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
body {
    background-color: #f0f0f0;
    color: #333;
  }
  button{
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .send_button{
    margin-left: 10px;
    height: 50px;
    
  }
  
  .submit-order-btn{
    width: 100px;
    text-align: center;
    align-self: center;
  }
 /* Überschriften */
#homeh1, #homeh2, h1, h2, h3 {
    font-family: 'Josefin Sans', cursive;
    padding: 10px;
    text-align: center;
    font-size: 24px;
  }
  .h1{
    font-size: 50px;
    top:-110px;
  }
  /* Normaler Text */
  body, p {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  /* Header-Styles */
  header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    height: 130px;
  }
  
  /* Footer-Styles */
  footer {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 15px;
  }
  a{
    padding-left: 10px;
  }

  /* Contact-Styles */
  
  #contact_text {
    color: #3498db;
  }
  
  #contact_address {
    color: #2980b9;
  }
  
  #message_input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  
  #send_button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin-left: 15px;
  }

  .home_text{
    position: relative;
    left: 50px;
  }
  
  /* Order-Styles */
  .customizable-item {
    border: 1px solid #3498db;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: 200px;
  }
  
  .ingredients-checklist {
    margin-bottom: 10px;
  }
  
  .ingredient-checkbox {
    margin-right: 5px;
  }
  
  .add-ingredient-btn,
  .submit-ingredients-btn {
    background-color: #3498db;
    color: #333;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .add-ingredient-btn:disabled,
  .submit-ingredients-btn:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
  }
  
  /* Selected Ingredients Styles */
  .selected-ingredients {
    margin-top: 10px;
  }
  
  .selected-ingredients div {
    background-color: #3498db;
    color: #fff;
    margin-bottom: 5px;
  }
  
  .selected-ingredients button {
    background-color: #ccc;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 10px;
  }

  
  /* Image Styles */
  
  .ingredient-checkbox{
    opacity: 0;
    background-color: #3498db;
    
  }
  .logo_header{
    background-image: url(logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 120px;
    width: 120px;
  }
  .menu_header{
    list-style-type:none;
  }
  #nav_header{
    position: relative;
    width: fit-content;
    height: 100px;
    float: right;
    top: -250px;
    right: 20px;
  }

.ingredient-checkbox:checked{
  opacity:0.1;
  background-color: #3498db;
}

.message_input {
  width: 80%;
  height: 150px;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #7975EB;
  border-radius: 4px;
}


@media only screen and (max-width: 600px) {

/* Globale Styles */
*{
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
body {
    background-color: #f0f0f0;
    color: #333;
  }
  button{
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .send_button{
    margin-left: 10px;
    height: 25px;
    
  }
  button{
    height: 80%;
    width: 50%;
    font-size: 10px;
  }
  
  .submit-order-btn{
    width: 100px;
    text-align: center;
    align-self: center;
  }
 /* Überschriften */
#homeh1, #homeh2, h1, h2, h3 {
    font-family: 'Josefin Sans', cursive;
    padding: 10px;
    text-align: center;
    font-size: 16px;
  }
  .h1{
    font-size: 20px;
    top:-50px;
  }
  h3{
    margin-left: 80px;
  }
  
  /* Normaler Text */
  body, p {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  /* Header-Styles */
  header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    height: 65px;
  }
  
  /* Footer-Styles */
  footer {
    background-color: #3498db;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 10px;
  }
  a{
    padding-left: 10px;
  }

  /* Contact-Styles */
  
  #contact_text {
    color: #3498db;
  }
  
  #contact_address {
    color: #2980b9;
  }
  
  #message_input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
  }
  
  #send_button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
  }

  .home_text{
    position: relative;
    text-align: center;
    margin-left: 20px;
    margin-right: 120px;
  }
  
  /* Order-Styles */
  .customizable-item {
    border: 1px solid #3498db;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 100px;
  }
  
  .ingredients-checklist {
    margin-bottom: 10px;
  }
  
  .ingredient-checkbox {
    margin-right: 5px;
  }
  
  .add-ingredient-btn,
  .submit-ingredients-btn {
    background-color: #3498db;
    color: #333;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .add-ingredient-btn:disabled,
  .submit-ingredients-btn:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
  }
  
  /* Selected Ingredients Styles */
  .selected-ingredients {
    margin-top: 10px;
    text-align: center;
  }
  
  .selected-ingredients div {
    background-color: #3498db;
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .selected-ingredients button {
    background-color: #ccc;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 5px;
  }

  
  /* Image Styles */
  
  .ingredient-checkbox{
    opacity: 0;
    background-color: #3498db;
    
  }
  .logo_header{
    background-image: url(logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 40px;
    width: 40px;
  }
  .menu_header{
    list-style-type:none;
  }
  #nav_header{
    position: relative;
    width: fit-content;
    height: 80px;
    float: right;
    top: -110px;
    right: 10px;
    font-size: 12px;
  }

.ingredient-checkbox:checked{
  opacity:0.1;
  background-color: #3498db;
}

.message_input {
  width: 70%;
  height: 75px;
  padding: 10px;
  margin: 10px 0;
  font-size: 12px;
  border: 1px solid #7975EB;
  border-radius: 4px;
  margin-left: 30px;
}
.telNumber{
margin-left: 90px;
}
.contact_address{
margin-left: 90px;
}
.contact_text{
  margin-left: 5px;
}
}